{% extends "base.html" %}
{% block content %}

  <a href="{{base_path}}/suggestion/new" class="btn btn-primary">Ehdota kohdetta</a>
  <h1>Ehdotettuja vedonlyöntikohteita</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Selvennys</th>
      </tr>
    </thead>

    <tbody>
      {% for ehdotus in ehdotukset %}
        <tr>
          <td>{{ehdotus.id}}</td>
          <td>{{ehdotus.nimi}}</td>
          <td>{{ehdotus.selvennys}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
