{% extends "base.html" %}
{% block content %}
  <h1>Lisää saldoa</h1>

  <p>
    Valitse summaksi 1-1000 (yhdestä tuhanteen).<br>
    Huomaa ettei saldo voi ylittää tonnia(1000) tallettamalla!
  </p>

  <form method="post" action="{{base_path}}/bettor/deposit">

    <div class="form-group">
      <label>Talletettava summa</label>
      <input type="number" class="form-control" name="lisattava_saldo">
    </div>

    <button type="submit" class="btn btn">Talleta</button>
  </form>
{% endblock %}
