{% extends "base.html" %}
{% block content %}
  <h1>Vedonlyöjät</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Saldo</th>
        <th>Rekisteroitymispaiva</th>
      </tr>
    </thead>

    <tbody>
      {% for vedonlyoja in vedonlyojat %}
        <tr>
          <td><a href="{{base_path}}/bettor/{{vedonlyoja.id}}">{{vedonlyoja.nimi}}</td>
          <td>{{vedonlyoja.saldo}}</td>
          <td>{{vedonlyoja.rekisteroitymispaiva}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
