{% extends "base.html" %}
{% block content %}
  <h1>{{vedonlyoja.nimi}}</h1>
  <p>
      <a href="{{base_path}}/bettor/{{vedonlyoja.id}}/update" class="btn btn-default">Vaihda salasana</a>
  </p>
  <ul>
    <li><strong>Id:</strong> {{vedonlyoja.id}}</li>
    <li><strong>Nimi:</strong> {{vedonlyoja.nimi}}</li>
    <li><strong>Saldo:</strong> {{vedonlyoja.saldo}}</li>
    <li><strong>Rekisteröitymispäivä:</strong> {{vedonlyoja.rekisteroitymispaiva}}</li>
    <li><strong>Ylläpitäjä:</strong> {{vedonlyoja.yllapitaja}}</li>
  </ul>
  <h2>Omat vedot</h2>
  <p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Veto</td>
          <th>Kohde</th>
          <th>Valinta</th>
          <th>Panos</th>
          <th>Palautus</th>
        </tr>
      </thead>

      <tbody>
        {% for veto in vedot %}
          <tr>
            <td><a href="{{base_path}}/bet/{{veto.id}}">{{veto.id}}</a></td>
            <td><a href="{{base_path}}/match/{{veto.kohde_id}}">{{veto.kohde_nimi}}</a></td>
            <td>{{veto.valinta_nimi}}</td>
            <td>{{veto.panos}}</td>
            <td>{{veto.palautus}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
{% endblock %}
