{% extends "base.html" %}
{% block content %}
  <h1>Vedot</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Kohde</th>
        <th>Panos</th>
        <th>Valinta</th>
        <th>Vedonlyöjä</th>
      </tr>
    </thead>

    <tbody>
      {% for veto in vedot %}
        <tr>
          <td><a href="{{base_path}}/bet/{{veto.id}}">{{veto.id}}</a></td>
          <td><a href="{{base_path}}/match/{{veto.kohde_id}}">{{veto.kohde_nimi}}</a></td>
          <td>{{veto.panos}}</td>
          <td>{{veto.valinta_nimi}}</td>
          <td><a href="{{base_path}}/bettor/{{veto.vedonlyoja_id}}">{{veto.vedonlyoja_nimi}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
