{% extends "base.html" %}
{% block content %}
  <h1>Päätä kohde {{kohde.nimi}}</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/match/{{kohde.id}}/complete" class="destroy-form" data-confirm="Oletko varma että haluat asettaa tuloksen ja maksaa voitot?">
    <div class="form-group">
      <input type="hidden" name="id" value='{{kohde.id}}' class="form-control">
    </div>

    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="nimi" value='{{kohde.nimi}}' class="form-control" readonly="readonly">
    </div>

    <div class="form-group">
      <label>Tyyppi</label>
      <input type="text" name="tyyppi" value='{{kohde.tyyppi}}' class="form-control" readonly="readonly">
    </div>

    <div class="form-group">
      <label>Sulkeutumisaika (YYYY-DD-MM hh:mm:ss)</label>
      <input type="datetime-local" name="sulkeutumisaika" value="{{kohde.sulkeutumisaika}}" class="form-control" readonly="readonly">
    </div>

    <div class="form-group">
      <label>Tulos</label>
      <select name="tulos">
        {% for valinta in valinnat %}
          <option value="{{valinta.id}}">{{valinta.nimi}} ({{valinta.kerroin}})</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-danger">Aseta tulos</button>
    </div>
  </form>
{% endblock %}
