{% extends "base.html" %}
{% block content %}
  <h1>Kohteet</h1>

  <p>
    <a href="{{base_path}}/match/new" class="btn btn-success">Lisää kohde</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Kohteen tyyppi</th>
        <th>Sulkeutumisaika</th>
        <th>Tulos</th>
      </tr>
    </thead>

    <tbody>
      {% for kohde in kohteet %}
        <tr>
          <td>{{kohde.id}}</td>
          <td><a href="{{base_path}}/match/{{kohde.id}}">{{kohde.nimi}}</td>
          <td>{{kohde.tyyppi}}</td>
          <td>{{kohde.sulkeutumisaika}}</td>
          <td>{{kohde.tulos}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
