{% extends "base.html" %}
{% block content %}

  <h1>{{kohde.nimi}}</h1>
  {% if yllapitaja %}
    <p>
      <form method="post" action="{{base_path}}/match/{{kohde.id}}/destroy" class="destroy-form" data-confirm="Oletko varma että haluat poistaa kohteen?">
        <button type="submit" class="btn btn-danger">Poista</button>
      </form>
      <a href="{{base_path}}/match/{{kohde.id}}/edit" class="btn btn-default">Muokkaa kohdetta</a>
      <a href="{{base_path}}/match/{{kohde.id}}/options" class="btn btn-default">Muokkaa valintoja</a>
      <a href="{{base_path}}/match/{{kohde.id}}/complete" class="btn btn-default">Aseta tulos</a>
    </p>
  {% endif %}

  <ul>
    <li><strong>Id:</strong> {{kohde.id}}</li>
    <li><strong>Nimi:</strong> {{kohde.nimi}}</li>
    <li><strong>Tyyppi:</strong> {{kohde.tyyppi}}</li>
    <li><strong>Sulkeutumisaika:</strong> {{kohde.sulkeutumisaika}}</li>
    <li><strong>Laji:</strong> {{kohde.laji_nimi}}</li>
    <li><strong>Tulos:</strong> {{tulos}}</li>
  </ul>
  <br>
  {% if user_logged_in %}
  <p>
    <form method="post" action="{{base_path}}/bet" id="asetaVeto">
      <div class="form-group">
        <label>Valinta</label>
        <select name="valinta_id" form="asetaVeto">
          {% for valinta in valinnat %}
            <option value="{{valinta.id}}">{{valinta.nimi}} ({{valinta.kerroin}})</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Panos</label>
        <input type="number" step="0.1" name="panos" maxlength="5" size="5" class="form-control" >
      </div>

      <div class="form-group">
        <input type="hidden" name="kohde_id" value="{{kohde.id}}" class="form-control" >
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Aseta veto</button>
      </div>
    </form>
  </p>
    {% endif %}

{% endblock %}
