{% extends "base.html" %}
{% block content %}
  <h1>Lajit</h1>
  {% if yllapitaja %}
    <p>
      <a href="{{base_path}}/sport/new" class="btn btn-success">Lisää laji</a>
    </p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kohteita</th>
      </tr>
    </thead>

    <tbody>
      {% for laji in lajit %}
        <tr>
          <td><a href="{{base_path}}/sport/{{laji.id}}">{{laji.nimi}}</td>
          <td>{{laji.kohteita}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
